{# warning_template.j2 #}
{%- extends "base_template.j2" -%}
{%- block field_styles -%}
{% set field_styles = {
    'status': {
        'color': 'yellow',
        'style': 'bold'
    }
} %}
{%- endblock -%}