{# Template-specific configuration #}
{% set config = {
    'total_width': 80,
    'fields': {
        'message': {
            'min_width': 20,
            'max_width': 55
        },
        'padding': {
            'min_width': 1,
            'padding_char': ' ',
            'leading_char': '',
            'closing_char': ''
        },
        'reason': {
            'max_width': 22,
            'leading_char': '(',
            'closing_char': ')'
        },
        'status': {
            'leading_char': ' ',
            'max_width': 10
        }
    },
    'defaults': {
        'DEBUG': {
            'status': 'DEBUG'
        },
        'INFO': {
            'status': 'OK'
        },
        'WARNING': {
            'status': 'WARNING'
        },
        'ERROR': {
            'status': 'ERROR'
        },
        'CRITICAL': {
            'status': 'CRITICAL'
        }
    }
} %}